body{
    margin: 0;
}

/* HEADER STYLE */
header{
    background-color: #1B2430;
    display: flex;
    flex-direction: column;
}

.head-name{
   color: white;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 3em;
   text-align: center;
   margin-top: 30px;
}

li{
    list-style: none;
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
}

.nav-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

ul{
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
}

/* PROFILE STYLE */
.profile{
    background-color:#133B5C;
    padding-top:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-profile{
    max-width: 300px;
    max-height: 300px;
    border-radius: 20%;
    border-style: solid;
    border-width: 5px;
    border-color:#FFD700;
}

.describe-profile{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

em{
    color:#133B5C;
}


/* MAIN STYLE  */


main{
    color: white;
}

.about-me{
    display: flex;
    flex-direction: column;
    background-color: #1B2430;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.about-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
}

.about-h{
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
    margin-bottom:0px;
}

.about-line{
    width: 200px;
    border-color: #FFD700;
    border-width: 10px;
    border-style: groove;
}

.about-describe{
    display: flex;
    font-size:20px;
}

.personal-details{
    display: flex;
    flex-direction: column;
    background-color: #133B5C;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.table{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.personal-head{
    text-align: left;
    font-size: 1.6em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title-table{
    font-size: 1.4em;
    color: #FFD700;
  margin-right: 20px;
}

.contact{
   font-size: 1.2em;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

input[type=range]{
    display: block;
    width: 70%;
}

.skills{
    padding: 1px;
    background-color: #1B2430;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.card-img{
    width: 250px;
    height: 200px;
    border-radius: 15%;
  
}

.project{
    padding: 1px;
    background-color: #133B5C;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.head-project{
    text-align: center;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-head{
    font-size: 1.2em;
    margin-top: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.card{
    margin-top: 25px;
}

.contact-head{
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

aside{
    padding: 1px;
    color: white;
}

.contact-me{
    background-color: #1B2430;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

label{
    text-align: left;
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

input[type=text]{
    width: 90%;
    height: 35px;
    margin: 10px;
    background-color: #133B5C;
    border-radius: 8px;
    border-style: solid;
    border-color:#FFD700;
    border-width: 3px;
}
::placeholder{
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

textarea{
    margin: 10px;
    width: 90%;
    background-color: #133B5C;
    border-radius: 8px;
    border-style: solid;
    border-color:#FFD700;
    border-width: 3px;
}

.send{
    width: 30%;
    margin: 10px;
    height: 35px;
    margin-top: 10px;
    background-color: #FFD700;
    color: #133B5C;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    border-radius: 20px;
    border-style: solid;
    border-color:#1B2430;
    border-width: 2px;
}

footer{
    background-color: #133B5C;
    padding: 1px;
    color: white;
    text-align: center;
    
}

@media (min-width:640px) {
     header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
     }

     .nav-bar{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 0;
     }


     li{
        margin: 10px;
     }

     main{
        display: grid;
        grid-template-columns: 1fr 1fr;
     }

     .about-me{
       padding-top: 50px;
        background-color: #133B5C;
     }

     .personal-details{
        background-color: #1B2430;
     }

   .all-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
   }

   .card{
    width: 50%;
   }
     

     
}