@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {


    /* COLORS */
    --black-to-white: #222831;
    --black-to-blue: #222831;
    --blue-to-black: #00ABD5;
    --blue-to-white: #00ABD5;
    --white-to-black: #E8F6EF;
    --white-to-blue: #E8F6EF;
    --black-to-grey:#222831;
    /* FONT-STYLE */
    --font-style: 'Poppins', sans-serif;
    /* FONT-SIZE */
    --normal-font-size: 1em;
    --medium-font-size: 1.6em;
    --big-font-size: 2em;
    --small-font-size: 0.5em;


    /* FONT WEIGHT */
    --font-semibold: 600;
    --font-medium: 400;
}



/* SCROLL BAR */

::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: var(--black-to-white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-to-black);
}

/* KEY FRAMES */
@keyframes borderimg {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



@keyframes writeAnimation {

    40%,
    60% {
        left: 100%;
    }

    100% {
        left: 0%;
    }

}

@keyframes movingleft {
    0% {
        transform: translateX(-80%);
    }

    50% {
        transform: translateX(20%);
    }

    100% {
        transform: translateX(-80%);
    }

}


@keyframes movingright {
    0% {
        transform: translateX(20%);
    }

    50% {
        transform: translateX(-80%);
    }

    100% {
        transform: translateX(20%);
    }

}



.animate-me {
    opacity: 0;
}



* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--black-to-white);
    width: 100%;
}


a {
    text-decoration: none;
}

a:before {
    text-decoration: none;
}

li {
    list-style: none;
}

.download-cv i {
    font-size: var(--normal-font-size);
    margin-left: 5px;
}


/* HEAD PART */
.phone-icon {
    color: var(--white-to-black);
    font-size: 1.7em;
    text-align: center;
    cursor: pointer;
}

header {
    padding: 1px;
    background-color: var(--black-to-grey);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 0% 0% 3% 3%;

}

.menu-option {
    padding-block: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


.logo-name {
    font-size: 1.6em;
    font-family: var(--font-style);
    color: var(--white-to-black);
    font-weight: var(--font-semibold);
}

.logo-letter {
    color: #00ABD5;
    font-family: var(--font-style);
}

.nav-bar {
    display: none;
    flex-direction: column;
    padding: 0 30px 50px 30px;
    background-color: var(--black-to-grey);
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

ul li {
    list-style: none;
    padding-top: 20px;
}

.nav-link {
    text-decoration: none;
    color: var(--white-to-black);
    font-family: var(--font-style);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semibold);
    position: relative;
    display: inline-flex;
    padding: 10px 10px;
    margin-top: 10px;
    z-index: 1;
    overflow: hidden;
}

.change-light {
    text-decoration: none;
    color: var(--white-to-black);
    font-family: var(--font-style);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semibold);
    position: relative;
    display: inline-flex;
    padding: 10px 10px;
    margin-top: 10px;
    margin-left: 20px;
}

.change-light:active {
    color: #00ADB5;
}

.change-light i {
    font-size: 1.6em;
}

.nav-link:before {
    position: absolute;
    content: "";
    width: 110%;
    height: 3px;
    bottom: 5px;
    background-color: #00ABD5;
    transform: translateX(-120%);
    z-index: -1;
    transition: all 1s;
    transform-origin: top;
}

.nav-link:hover:before {
    transform: translateX(-20%);
    transition: all 1s;
}

/* MAIN */

/* ASIDE ABOUT  */
.cover-menu:active {
    background-color: var(--blue-to-grey);
    transition-delay: all 0.1s;
    transition: all 0.2s;
    transform: scale(80%);
}

.cover-menu {
    width: 40px;
    height: 40px;
    border-radius: 30%;
    background-color: var(--button-color);
    opacity: 0.8;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    border: 2px solid var(--blue-to-black);
}

.about {
    padding-block: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/img/background-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s;
    z-index: 0;
}

.about::before {
    content: " ";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--black-to-grey);
    opacity: 0.9;
    z-index: -1;
    transition: all 0.5s;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
    width: 100%;
    position: relative;
    padding-top: 10px;
    margin: 0px;
}

.profile-desktop {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--black-to-grey);
    box-shadow: 0 5px 15px -7px var(--blue-to-black);
    border-radius: 20px 20px 5px 5px;
    padding: 50px;
}



.img-profile {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-left: 8px;
    margin-top: 7px;
    border: 0px;
}

.cover-profile-img {
    margin-top: 20px;
    margin-left: -5px;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}

.cover-profile-img:before {
    content: " ";
    position: absolute;
    top: -5%;
    left: -5%;
    bottom: -5%;
    right: -5%;
    width: 110%;
    height: 110%;
    border-radius: 100%;
    border-top: 5px dotted #00ADB5;
    border-bottom: 5px dotted var(--white-to-black);
    border-left: 5px dotted #00ADB5;
    border-right: 5px dotted var(--white-to-black);
    animation: borderimg 3s linear infinite;

}




/* MAIN SECTION PERSONAL-DETAILS */







.download-cv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 150px;
    font-style: var(--font-style);
    font-weight: var(--font-semibold);
    color: var(--white-to-black);
    background-color: var(--black-to-grey);
    font-size: var(--normal-font-size);
    height: 50px;
    border: 2px solid var(--blue-to-black);
    border-radius: 5px;
    margin-top: 20px;
}

.download-cv:active {
    background-color: var(--blue-to-black);
    color: var(black-to-white);
}



.animation-text {
    color: #00ABD5;
    font-family: var(--font-style);
    position: relative;
}

.about-describe {
    margin-top: 20px;
    color: var(--white-to-black);
    line-height: 1.6em;
    font-size: 1.1em;
    font-weight: 300;
    font-family: var(--font-style);
}

.animation-text::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--black-to-grey);
    border-left: 2px solid #00ADB5;
    width: 100%;
    height: 100%;
    animation: writeAnimation 5s linear infinite;
}

.level {
    font-size: var(--medium-font-size);
    font-family: var(--font-style);
    color: var(--white-to-black);
    margin-top: 15px;
}







.describe-profile {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    color: white;
    overflow: hidden;
}

.describe-profile p {
    font-size: 1.3em;
    font-family: var(--font-style);
    text-align: center;
    margin-bottom: 20px;
}

.icon {
    font-size: 30px;
    width: 50px;
    height: 50px;
    border: 1px solid var(--blue-to-black);
    border-radius: 30%;
    margin-left: 10px;
    box-shadow: 0 5px 15px -7px var(--blue-to-black);
    line-height: 50px;
    text-decoration: none;
}



.icon:active {
    /* color: var(--white-to-black); */
    transform: scale(90%);
    background-color: var(--blue-to-black);
}

.icon i:active {
    color: white;
}

.icon i {
    color: var(--white-to-black);
}

.title-project {
    margin-block: 10px;
    font-size: var(--medium-font-size);
    color: var(--white-to-black);
}



.social-media,
.caption {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.social-media li {
    padding-bottom: 50px;
}

.caption {
    justify-content: space-between;
}

/* ABOUT DESCRIBE SECTION */
.describe {
    align-items: center;
    justify-content: center;

}

.about-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;

}


.a-about,
.btn-personal,
.btn-skills {

    text-decoration: none;
    color: var(--white-to-black);
    font-family: var(--font-style);
    font-size: var(--medium-font-size);
    font-weight: var(--font-semibold);
    position: relative;
    z-index: 0;
    overflow: hidden;
}




.btn-personal {
    font-size: 1.4em;
    font-weight: 400;
}

.a-about:before,
.btn-personal:before,
.btn-skills:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 40%;
    border-bottom: 2px solid #00ADB5;
    width: 50%;
    height: 100%;
    z-index: -1;
    animation: movingleft 5s linear infinite;
}

.btn-skills:before {

    border-bottom: 2px solid var(--white-to-black);
}

.btn-personal:before {
    border-bottom: 2px solid var(--white-to-black);
}

.a-about:after,
.btn-personal:after,
.btn-skills:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 40%;
    border-bottom: 2px solid var(--white-to-black);
    width: 50%;
    height: 100%;
    z-index: -1;
    animation: movingright 5s linear infinite;
}

.btn-skills:after {
    border-bottom: 2px solid var(--black-to-blue);
}

.btn-personal:after {
    border-bottom: 2px solid #00ADB5;
}



main {
    padding: 1px;
    background-color: var(--black-to-grey);
    display: flex;
    flex-direction: column;
}

.personal-details {
    margin-left: 20px;
    margin-right: 20px;
    padding: 50px 0px;
}



#personal-head,
#skills-head {
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}


#skills-head {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}

.wrapper {
    background-color: var(--black-to-grey);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-block: 10px;
}

p {
    color: var(--white-to-black);
}

.contact {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.card-icon {
    width: 65px;
    height: 65px;
    line-height: 60px;
    background-color: var(--black-to-white);
    color: var(--white-to-black);
    border: 2px solid var(--blue-to-black);
    font-size: 2em;
    border-radius: 100%;
    box-shadow: 0 5px 15px -7px var(--blue-to-black);
    cursor: pointer;
    z-index: 0;
    position: relative;
    overflow: hidden;

}




.card-icon:active {
    color: #ffffff;
    background-color: var(--blue-to-black);
    transform: scale(110%);
}


.contact p {
    margin-top: 20px;
    color: var(--white-to-black);
    font-size: 0.8em;
    font-family: var(--font-style);
    font-weight: 400;
    display: none;
}

.contact-me{
    background-color:var(--blue-to-grey);
}


.tehnical-skills {
    background-color: var(--blue-to-grey);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    margin-top: 50px;
}




.icon-skills {
    margin: 20px 20px;
    width: 200px;
    height: 200px;
    background-color: var(--black-to-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5% 5% 20% 20%;
    border: 2px solid var(--black-to-grey);
    box-shadow: 0 20px 25px 0px #222831;
    z-index: 0;
    position: relative;
}


.icon-skills:hover:before {
    transform: translateY(0%);
    transition: all 0.5s;
}



.icon-skills i {
    color: var(--blue-to-black);
    font-size: 5em;
}



#skills {
    background-color: var(--blue-to-grey);
    padding-block: 50px;
}

#skills-head {
    color: var(--black-to-grey);
}

#head-project {
    margin-left: 30px;
    padding-block: 20px;
}


.all-projects {
    background-color: var(--black-to-grey);
}

.project-img {
    margin-top: 20px;
    width: 250px;
    height: 250px;
    border-radius: 8px;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    background-color: var(--black-to-grey);
}


.project {
    margin-top: 50px;
    display: grid;
    align-items: center;
    text-align: center;
    background-color: var(--black-to-grey);
    width: 300px;
    border-radius: 15px;
    box-shadow: 2px 2px 23px 8px rgba(0, 0, 0, 0.75);
    padding: 20px;
}

.caption {
    display: grid;
}

.title-project {
    color: var(--white-to-black);
    font-family: var(--font-style);
    font-weight: var(--font-semibold);

}

.describe-project {
    color: var(--white-to-black);
    padding: 5px;
    font-family: var(--font-style);
    font-weight: var(--font-medium);
    border-top: 2px solid var(--title-color);
    border-bottom: 2px solid var(--title-second-color);
}

.project-btn-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.project-btn  {
    margin-left: 10px;
    width: 100px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-to-black);
    border: 2px solid var(--blue-to-grey);
    border-radius: 5px 5px 5px 5px;
}

.project-btn:active {
    transform: scale(90%);
    border-color: var(--blue-to-black);
}





.project-btn p {
    margin-right: 7px;
    color: white;
    font-family: var(--font-style);
    font-size: 1em;
    font-weight: var(--font-semibold);
}


.project-btn i {
    color: white;
}

.contact-me {
    padding-block: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input {
    width: 300px;
    height: 40px;
    margin-top: 20px;
    background-color: var(--black-to-grey);
    color: var(--white-to-black);
    border: 2px solid var(--blue-to-black);
    padding-left: 10px;
    border-radius: 5px;
    font-style: var(--font-style);
    font-weight: var(--font-semibold);
    font-size: var(--font-medium);
    text-align: left;
    box-shadow: 0 5px 11px -5px var(--blue-to-black);
}

input::placeholder {
    padding-left: 5px;
    color:var(--blue-to-black);
}

input:focus {
    outline: none;
}

textarea {
    margin-block: 15px;
    background-color: var(--black-to-grey);
    font-style: var(--font-style);
    font-weight: var(--font-semibold);
    font-size: 1.3em;
    color: var(--white-to-black);
    border: 2px solid var(--blue-to-black);
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 5px;
    max-width: 300px;
    box-shadow: 0 5px 11px -5px var(--blue-to-black);

}


.send {
    text-align: center;
    width: 100px;
    height: 30px;
    border: 2px solid var(--blue-to-black);
    color: #ffffff;
    background-color:#222831;
    font-style: var(--font-style);
    font-weight: var(--font-semibold);
    font-size: var(--font-medium);
    border-radius: 5px;
    box-shadow: 0 5px 11px -5px var(--blue-to-black);
    position: relative;
    overflow: hidden;
    z-index: 1;

}



.send:active {
    transform: scale(80%);

}

textarea:focus {
    outline: none;
}

textarea::placeholder {
    font-style: var(--font-style);
    font-weight: var(--font-semibold);
    color: var(--blue-to-black);
}

.bottom-site {
    text-align: center;
    justify-content: center;
    padding: 25px;
    font-family: var(--font-style);
    font-size: var(--normal-font-size);
    background-color: var(--black-to-grey);
}

/* BOTTOM NAV-BAR */

.nav-bar-helper-bottom {
    width: 90%;
    max-width: 600px;
    height: 50px;
    background-color: var(--black-to-grey);
    position: fixed;
    bottom: 1rem;
    border-radius: 50px;
    border: 1px solid var(--blue-to-black);
    box-shadow: 0 5px 11px -5px var(--blue-to-black);
    backdrop-filter: blur(20px);
    left: 5%;
}

.bottom-nav-bar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
}

.bottom-nav-bar ul li a {
    font-size: var(--medium-font-size);
    color: var(--white-to-black);
    width: 30px;
    height: 30px;
}

.bottom-nav-bar ul li {
    padding: 12px;
}





.bottom-nav-link:active {
    color: #00ABD5;
}





@media (min-width:768px) {
    header {
        display: flex;
        flex-direction: row;
        border-radius: 0%;
        justify-content: space-between;
    }

    .nav-bar-helper-bottom {
        left: 15%;
        width: 70%;

    }


    .cover-menu {
        display: none;
    }

    .menu-option {
        margin-left: 50px;
    }

    .nav-bar {
        padding: 0;
        display: inline-block;
        margin-bottom: 25px;
        margin-right: 15px;

    }

    .nav-bar ul {
        margin-left: 2px;
        display: flex;
        flex-direction: row;
    }


    .nav-bar ul li a {
        margin-left: 1px;
        font-size: 0.8em;
    }

    .logo-name {
        font-size: 1.5em;
    }

    .profile-desktop {
        max-height: 50vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    .profile {
        width: 50%;
    }



    .about-describe {
        font-size: .95em;
    }

    .img-profile {
        width: 200px;
        height: 200px;
    }


    .project {
        display: flex;
        width: 90%;
    }

    .all-projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-container {
        padding-block: 50px;
    }

    .describe {
        padding-left: 50px;
    }

}

@media (min-width:920px) {
    header {
        display: flex;
        flex-direction: row;
        border-radius: 0%;
        justify-content: space-around;
    }

    .cover-profile-img {
        width: 270px;
        height: 270px;

    }

    .nav-bar-helper-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 300px;
        width: 60px;
        top: 30%;
        left: 4%;
    }

    .nav-bar-helper-bottom ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }


    .describe-profile p {
        padding-top: 20px;
        font-size: var(--medium-font-size);
    }

    .img-profile {
        width: 270px;
        height: 270px;
    }

    .profile-desktop {
        min-height: 80vh;
        padding-block: 50px;
        width: 100%;
        margin-inline: 15%;
        max-width: 110vh;
    }



    .describe {
        min-width: 400px;
    }

    .card-icon {
        width: 80px;
        height: 80px;
    }

    .card-icon i {
        line-height: 1.7;
        font-size: 1.4em;
    }

    .contact p {
        font-size: var(--medium-font-size);
    }

    .icon {
        width: 60px;
        height: 60px;
    }

    .icon i {
        line-height: 1.3;
        font-size: 1.4em;
    }

    .download-cv {
        width: 200px;
        font-size: 1.4em;
        height: 60px;
        text-align: center;
    }

    .download-cv i {
        font-size: 1.2em;
    }

    .menu-option {
        margin-left: 50px;
    }

    .logo-name {
        font-size: 2em;
    }

    .cover-menu {
        display: none;
    }

    .nav-bar {
        display: inline-block;
        margin-top: 3px;
        margin-right: 10px;

    }

    .nav-bar ul {

        display: flex;
        flex-direction: row;
    }

    .nav-bar ul li {
        width: 50%;
    }

    .nav-bar ul li a {
        margin-left: 20px;
        font-size: 1em;
    }


    #about-h {
        font-size: 1.6em;

    }

    #personal-head,
    #skills-head,
    #head-project,
    #contact-head {
        font-size: 1.7em;
    }

    #skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tehnical-skills {

        width: 80%;
    }

    .icon-skills {
        min-width: 300px;
        width: 20%;
        max-width: 400px;
        min-height: 300px;
        height: auto;
        max-height: 400px;
        font-size: var(--medium-font-size);
    }

    .project {
        height: auto;
        max-height: 800px;
        max-height: 600px;
        width: auto;
        max-width: 900px;
    }

    .about-describe {
        font-size: 1.2em;
        width: 400px;

    }

    .title-project {
        font-size: var(--big-font-size);
    }

    .project-img {
        width: 250px;
        height: 250px;
    }

    .describe-project {
        font-size: 1.1em;
    }

    .project-btn {
        width: 150px;
        height: 40px;
        font-size: 1.2em;
    }

 


    input {
        width: 600px;
        height: 50px;
    }

    textarea {
        min-width: 600px;
        max-height: 500px;
    }

    .send {
        width: 150px;
        height: 50px;
    }
}